<h1>Add a ew product</h1>
<form action="/product" method="post" autocomplete="off">
  <label for="pname">Product name</label>
  <input type="text" id="pname" name="product_name" minlength="3" required />
  <br />
  <br />
  <label for="price">Price</label>
  <input
    type="number"
    id="price"
    min="10"
    max="9999999"
    name="price"
    required
  />
  <br />
  <br />
  <label for="quantity">Quantity</label>
  <input
    type="number"
    id="quantity"
    min="10"
    max="100"
    name="quantity"
    required
  />
  <br />
  <br />
  <label for="description">Description</label>
  <input type="text" id="description" name="description" required />
  <br />
  <br />
  <button>Add product</button>
</form>
<a href="/products"> <button>Go to home</button></a>