<ul>
  {{#each data}}
    <li style="border:1px solid red;margin:1rem;padding:0.25rem">
      <strong>ID:</strong>
      {{id}},
      <strong>Product:</strong>
      {{product}},
      <strong>Price:</strong>
      {{price}},
      <strong>Quantity:</strong>
      {{quantity}}
    </li>
  {{/each}}
</ul>