<div>
  {{#if id}}
    <h2 style="color:blue">Seems like you are interested in Product:
      {{product}}</h2>
    <p>{{description}} <b>Price: {{price}}</b></p>
  {{else}}
    <h1>No product found</h1>
  {{/if}}
</div>